{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>{% trans %}Please sign in{% endtrans %}</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="{% trans %}login{% endtrans %}">

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="{% trans %}password{% endtrans %}">
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">{% trans %}Remember Me{% endtrans %}
                        </div>
                        <div class="form-group">
                            <input type="submit" value="{% trans %}login_text{% endtrans %}" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



