<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!--Bootsrap -->
            <link rel="stylesheet" href="{{ asset('css/bootstrap_brice.min.css') }}">

            <!--Fontawesome -->
            <link rel="stylesheet" href="{{ asset('css/all.min.css') }}">

            <!--Custom styles-->
            <link href="{{ asset('css/styles.css') }}" type="text/css" rel="stylesheet">

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}
    </head>
    <body>
        <
            {% block body %}{% endblock %}
            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}

                Renders app.js & a webpack runtime.js file
                    <script src="/build/runtime.js"></script>
                    <script src="/build/app.js"></script>
            {% endblock %}

    </body>
</html>
